<h1>Deployments For <%= @app.name.titleize %></h1>


<table class="table">
  <thead>
    <tr>
      <th>Deploy Succeeded</th>
      <th>Output</th>
      <th>Deploy Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @app.deploys %>
    <tr><td colspan="3"><%= link_to 'New Deploy', new_deploy_path(@app) %></td></tr>
  </tbody>
</table>
