<% title "Deploy List" %>
<div class="page-header">
  <h1>Deployments For <small><%= @app.name.titleize %></small>    
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
        Deployment <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to 'Deploy', new_deploy_path(@app), data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Deploy Status</th>
      <th>Output</th>
      <th>Deploy Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render @app.deploys %>
  </tbody>
</table>
