<% title "Edit User" %>
<h1>Edit User</h1>
<div>
  2FA?
  <% if @user.authy_enabled %>
    <span class="glyphicon glyphicon-ok"></span>
  <% else %>
    <%= link_to user_enable_authy_path do %>
      <span class="glyphicon glyphicon-warning-sign"></span>
    <% end %>
  <% end %>
</div>
<%= render 'form' %>
