<div class="row">
  <div class="col-md-4"><strong>Name:</strong></div>
  <div class="col-md-8"><%= @app.name.titleize %></div>
</div>
<div class="row">
  <div class="col-md-4"><strong>Description:</strong></div>
  <div class="col-md-8"><%= @app.description %></div>
</div>
<div class="row">
  <div class="col-md-4"><strong>Environments:</strong></div>
  <div class="col-md-8">
    <% @app.environments.each do |environment| %>
      <%= link_to environment.name, environment %><br />
    <% end %>
  </div>
</div>
