<% title "Server App Linking" %>
<div class="page-header">
  <h1>Pick Server For App</h1>
</div>

<%= form_tag(app_servers_path) do %>

  <div class="field form-group">
    <%= label_tag :servers %>
    <div class="controls">
    <%= select_tag :serverid, options_from_collection_for_select(@servers, "id", "name"), :include_blank => true, :class => "form-control" %>
    </div>
  </div>
  <%= submit_tag("Update") %>
<% end %>